.card_2 {
    background-color: rgb(248, 208, 31);
    padding: 20px;
    min-height: 280px;
    min-width: 350px;
    max-width: 350px;
    max-height: 280px;
    margin: 25px 25px 25px 25px;
    margin: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-container {
        margin-bottom: 10px;
      }
      
      .icon {
        width: 40px;
        height: 40px;
      }
      
      .card-title {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0;
      }
      
      .card-text {
        font-size: 14px;
        color: #555;
      }

  }
  

  